html {
  height: 100%;
}

body {
  background: cadetblue;
  height: 100%;
  margin: 10px 100px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  margin-top: 7em;
}

#search {
  margin-top: 5em;
}

.btn-container {
  margin-top: 25px;
}
.res {
  margin: 0 auto;
  width: 50%;
  text-align: left;
}